<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514779684737-7tdookivhkdaf5sqbvh9m2gb6g8umai6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514779684737-7tdookivhkdaf5sqbvh9m2gb6g8umai6</string>
	<key>API_KEY</key>
	<string>AIzaSyAaABsyEr7RnNRgottlT6GRlo3oXqxk1Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>514779684737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raiu.tech.push-test</string>
	<key>PROJECT_ID</key>
	<string>push-test-89cc9</string>
	<key>STORAGE_BUCKET</key>
	<string>push-test-89cc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514779684737:ios:328e5aef9a9efb7a</string>
	<key>DATABASE_URL</key>
	<string>https://push-test-89cc9.firebaseio.com</string>
</dict>
</plist>